.editor{
  margin-top: 20px;
  height: 180px;
  background-color: #eafbf5;
  border-radius:20px ;
}
.preview{
  margin-top: 10px;
  height: 180px;
  background-color: #eafbf5;
  border-radius:20px ;
}
.ql-toolbar, ql-snow{
  border: none !important;
}

.ql-snow {
  border: none !important;
}